*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    
}
body{
    color:black;
    background-color: antiquewhite;

}

ul, ol, li{
    text-decoration: none;
    text-align: center;
    
}